*, *::before, *::after {
  box-sizing: border-box; /*So it's easier to size*/
}


/******************************************
/* LAYOUT
/*******************************************/
html{
  width: 100%;
 /* height: 100vh;*/
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

body {
    width: 80%;
   /* height: 100%;*/
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    /*background: linear-gradient(to left, white, green);*/
}
#app{

    min-height: 100vh;
}
#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 30px;
  z-index: 999;
}
#content {

    position: relative; /*Because it wasn't scrolling*/
    left: 250px;
    padding: 30px;
}
#form {
  margin: 10%;
  width: max-content;
}
#books {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* row-gap column gap */
}
.card {
  flex: 30%;
  border: 1px dotted black;
}
@media only screen and (max-width: 700px){
	body{
		width: 80%;

	}
.card {
  width: 100%;
}
#content {
  left: 0;
}
#sidebar {

    position: relative;
    width: 100%;
    margin: auto;
}

#books {
  flex-direction: column;
}
#form {

    margin: 10% auto;
}
#app{
	margin-top: 50%;
	max-width: auto;
}
}